<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/car_catalog</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">12341234</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
        <property name="show_sql">true</property>
        <property name ="hibernate.enable_lazy_load_no_trans">true</property>


        <mapping resource="ru/napadovskiu/entities/Car.hbm.xml"/>
        <mapping resource="ru/napadovskiu/entities/GearBox.hbm.xml"/>
        <mapping resource="ru/napadovskiu/entities/Engine.hbm.xml"/>
        <mapping resource="ru/napadovskiu/entities/Transmission.hbm.xml"/>
        <mapping resource="ru/napadovskiu/entities/Image.hbm.xml"/>
        <mapping resource="ru/napadovskiu/entities/Item.hbm.xml"/>
        <mapping resource="ru/napadovskiu/entities/User.hbm.xml"/>
    </session-factory>
</hibernate-configuration>