.create {
    background-color: #F0FFFF;
    float:left;
    /*position: absolute;*/
}
.edit {
    background-color: #F0FFFF;
    float:left;
    /*position: absolute;*/
}

.name-field{
    clear:both;
    text-align:right;
}
.login-field {
    clear:both;
    text-align:right;
}
.email-field {
    clear:both;
    text-align:right;
}
.role-field {
    clear:both;
    text-align:right;
}
.password-field {
    clear:both;
    text-align:right;
}
.check-password {
    clear:both;
    text-align:right;
}
label {
    float:left;
}
.button-back {
    clear: left;
}

 table {
     font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
     font-size: 14px;
     background: white;
     max-width: 70%;
     width: 70%;
     border-collapse: collapse;
     text-align: left;
 }
th {
    font-weight: normal;
    color: #039;
    border-bottom: 2px solid #6678b1;
    padding: 10px 8px;
}
td {
    color: #669;
    padding: 9px 8px;
    transition: .3s linear;
}
tr:hover td {
    color: #6699ff;
}

