<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/springIoC</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">12341234</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name ="hibernate.enable_lazy_load_no_trans">true</property>


         <mapping class="ru.napadovskiu.models.User"/>
    </session-factory>
</hibernate-configuration>